jupyter-kernel
.DS_Store
.idea
.venv
.virtual_documents
.ipynb_checkpoints
**/__pycache__/**
**/**-checkpoint.ipynb
**/**.egg-info
**/**.egg-info/**
data
reports
**/debug/
**/debug/**

# Large local datasets (excluded from GitHub)
/notebooks/classes/m9/amazon_polarity_test.csv
/notebooks/classes/m9/amazon_polarity_train.csv
